@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*------------Default CSS Starts Here------------*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Poppins', sans-serif;
}

.container
{
    width: 100%;
}

.row
{
    padding: 0 120px;
}

.flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.link
{
    color: whitesmoke;
    display: block;
    text-decoration: none;
}

.paragraph
{
    color: whitesmoke;
    font-size: 1.25em;
    margin-bottom: 20px;
}

.heading-two
{
    color: whitesmoke;
    font-size: 2em;
    margin-bottom: 20px;
}

.heading-three
{
    color: whitesmoke;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.section
{
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-head
{
    text-align: center;
}

.section-head h2, .section-head p
{
    color: black;
}

.button
{
    background-color: orangered;
    color: white;
    border: 2px solid orangered;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 0;
    cursor: pointer;
}

/*Website Logo*/
.logo img
{
    width: 250px;
}

/*Social Icons*/
.social-icons
{
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
}

.social-icons a
{
    margin: 0 3px;
}

.social-icons a img
{
    width: 30px;
    height: 30px;
}

/*Cards*/
.cards-container
{
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.card
{
    max-width: 30%;
    border-radius: 10px;
}

.card-image img
{
    width: 100%;
}

.card-content
{
    padding: 20px;
}

.card-content h3, .card-content p
{
    color: black;
}

.card-content button
{
    text-transform: capitalize;
}

/*------------Default CSS Ends Here------------*/

/*------------Navigation Bar Starts Here------------*/
nav
{
    background: linear-gradient(#2e3235, #222f3e);
    height: 20vh;
    width: 100%;
}

nav.flex
{
    justify-content: space-between;
}

.menu a
{
    display: inline;
    font-size: 1.1em;
    text-transform: uppercase;
    border: 2px solid transparent;
    padding: 10px 20px;
}

.menu .active, .menu a:hover:not(.active)
{
    color: orangered;
    border: 2px solid orangered;
    border-radius: 5px;
}

.menu a:hover:not(.active)
{
    color: whitesmoke;
}

.dropdown
{
    display: none;
}

.dropdown a
{
    font-size: 2.5em;
}
/*------------Navigation Bar Ends Here------------*/

/*------------Header Section Starts Here------------*/
.header
{
    background-image: url('images/bus.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.header-content
{
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

.header-content h1
{
    color: white;
    font-size: 3em;
    margin: 0 0 50px 0;
}

/*Booking Form*/
.booking-form
{
    width: 100%;
    margin: 0 0 50px 0;
}

.booking-form form
{
    width: 100%;
}

.booking-form select, .booking-form input
{
    width: 180px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 1.1em;
    display: block;
    padding: 10px;
    margin: 0 5px;
    outline: none;
    border: 2px solid orangered;
}

.booking-form select option:first-child
{
    color: orangered;
    border-bottom: 2px solid orangered;
}

.booking-form select option
{
    background-color: black;
    font-size: 1em;
    cursor: pointer;
}

.booking-form button
{
    width: 180px;
    margin: 0 0 0 5px;
}
/*------------Header Section Ends Here------------*/

/*------------Work Section Starts Here------------*/
.work-cards .card
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.work-cards .card-image img
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.work-cards .card-content button
{
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
/*------------Work Section Ends Here------------*/

/*------------Services Section Starts Here------------*/
.service-cards .card
{
    max-width: 45%;
}

.service-cards .card-image img
{
    border-radius: 10px;
}

.service-cards .card-content
{
    background-color: whitesmoke;
    max-width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    margin: auto;
    margin-top: -100px;
}

.row-one, .row-two, .row-three
{
    width: 100%;
    justify-content: flex-start;
}

.row-one p, .row-two p, .row-three p
{
    width: 25%; 
    font-weight: bold;
}

.row-two ul
{
    margin-left: 25px;
}

.row-two ul li
{
    margin: 4px 0;
}

/*Progress Bar Starts Here*/
.progress-bar
{
    background-color: #ecf0f1;
    width: 70%;
    height: 26px;
    display: inline;
    border: 2px solid #242323;
    border-radius: 10px;
    margin: 4px 0 0 0;
}

.progress
{
    background-color: orangered;
    height: 22px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
}

.progress span
{
    color: whitesmoke;
    font-weight: bold;
}
/*Progress Bar Ends Here*/
/*------------Services Section Ends Here------------*/

/*------------Testimonial Section Starts Here------------*/
.testimonial-content
{
    width: 100%;
    margin: 20px 0;
}

.testimonial-image
{
    max-width: 40%;
}

.testimonial-image img
{
    width: 80%;
    height: 80%;
    border-radius: 10px;
}

.testimonial-data
{
    max-width: 60%;
    padding: 20px;
}

.testimonial-data h4
{
    color: #ffdb58;
    font-size: 5em;
}

.testimonial-data p
{
    color: black;
    margin-top: -20px;
    text-align: justify;
}

.testimonial-card
{
    justify-content: flex-start;
    max-width: 100%;
}

.testimonial-card .card-image img
{
    width: 100px;
    height: 100px;
}

.testimonial-card .card-content h3
{
    margin-bottom: 10px;
}

.testimonial-card .card-content h5
{
    font-size: 1em;
}

.testimonial-companies
{
    width: 100%;
    justify-content: space-between;
    padding: 20px 0;
}

.testimonial-companies img
{
    max-width: 180px;
}
/*------------Testimonial Section Ends Here------------*/

/*------------Newsletter Starts Here------------*/
.newsletter
{
    height: 50vh;
    background: url('images/bus-station.png');
    background-size: cover;
    background-position: center;
}

.newsletter-content
{
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    justify-content: flex-end;
    padding: 20px inherit;
}

/*Newsletter Form*/
.newsletter-form
{
    width: 50%;
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.newsletter-form form
{
    width: 100%;
}

.newsletter-form h2.heading-three
{
    color: black;
}

.newsletter-form input
{
    width: 70%;
    font-size: 1.1em;
    padding: 10px;
    outline: none;
}

.newsletter-form button
{
    width: 20%;
}

/*------------Newsletter Ends Here------------*/

/*------------Footer Starts Here------------*/
.footer
{
    height: 50vh;
    background-color: #222f3e;
}

.footer-content
{
    height: 42vh;
    padding: 10px 70px;
}

.footer-content-one, .footer-content-two
{
    width: 50%;
}

.col
{
    width: 50%;
    text-align: center;
    padding: 10px;
}

.col a
{
    margin: 5px 0;
}

/*Copyright*/
.copyright
{
    height: 8vh;
    background-color: orangered;
    color: whitesmoke;
}
/*------------Footer Ends Here------------*/

/*----------------------------------------------*/
/*------------About Page Starts Here------------*/

/*About Us Page Defaul CSS*/
.intro, .leader
{
    background-color: #dfe6e9;
    padding-left: 80px;
    padding-right: 80px;
}

/*About Us Section Starts Here*/
.intro-content, .leader-content
{
    width: 100%;
    background-color: whitesmoke;
    padding: 40px;
}

.mission, .about
{
    text-align: center;
}

.mission h2, .about h2, .mission p, .about p
{
    color: black;
}

.about p
{
    text-align: justify;
}
/*About Us Section Ends Here*/

/*Leadership Section Starts Here*/
.leader-cards
{
    align-items: stretch;
}
.leader-cards .card
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.leader-cards .card .card-image
{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
}

.leader-cards .card .card-image img
{
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.leader-cards .card .card-content
{
    text-align: center;
    padding-top: 10px;
}

.leader-cards .card .card-content h3, .leader-cards .card .card-content h5
{
    margin-bottom: 8px;
}

.leader-cards .card .card-content h3
{
    font-size: 1.3em;
}

.leader-cards .card .card-content h5
{
    font-size: 1em;
}

.leader-cards .card .social-icons
{
    justify-content: space-evenly;
}
/*Leadership Section Ends Here*/

/*------------About Page Ends Here------------*/
/*--------------------------------------------*/

/*------------------------------------------------*/
/*------------Contact Page Starts Here------------*/

/*Contact Section Starts Here*/
.contact
{
    padding-top: 40px;
    padding-bottom: 40px;
}

.contact-form
{
    width: 50%;
    border: 2px solid orangered;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 30px;
}

.contact-info
{
    width: 50%;
    background-color: orangered;
    border-radius: 10px;
    padding: 50px 30px;
}

.contact-form h2
{
    color: black;
}

.contact-form input, .contact-form textarea
{
    width: 100%;
    font-size: 1em;
    border: 2px solid #afb1b3;
    border-radius: 5px;
    display: block;
    padding: 8px;
    margin: 0 0 15px 0;
    outline: none;
    resize: none;
}

.contact-form textarea
{
    font-size: 16px;
}

.contact-form button
{
    display: block;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
}

/*Contact Information*/
.contact-info
{
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact-item
{
    align-items: center;
    margin-bottom: 20px;
}

.contact-logo
{
    width: 70px;
    height: 70px;
    background-color: rgb(255, 105, 51);
    border-radius: 50%;
    margin-right: 15px;
}

.contact-logo img
{
    width: 40px;
    height: 40px;
}

.contact-text
{
    color: whitesmoke;
    font-size: 1em;
}

.contact-text span
{
    font-weight: bolder;
}

.contact-text p, .contact-text a
{
    display: inline;
}
/*Contact Section Ends Here*/

/*------------Contact Page Ends Here------------*/
/*----------------------------------------------*/