*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.con
{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/*Header Section Starts Here*/


/*Header Section Ends Here*/