@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Poppins', sans-serif;
}

.container
{
    height: 100vh;
    width: 100%;
}

.row
{
    padding: 0 120px;
}

.flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.link
{
    color: whitesmoke;
    text-decoration: none;
}

/*Header Section Starts Here*/
nav
{
    background: linear-gradient(#2e3235, #222f3e);
    height: 15vh;
}

nav.flex
{
    justify-content: space-between;
}

.logo img
{
    width: 60px;
    height: 60px;
    margin: 0 20px 0 0;
    /*margin: top right bottom left */
}

.logo h1
{
    color: orangered;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logo h1 span
{
    display: block;
    color: whitesmoke;
    margin-top: -8px;
}

.menu a
{
    font-size: 1.1em;
    text-transform: uppercase;
    padding: 10px 20px;
    /*padding: top+bottom   right+left*/
}

.menu .active, .menu a:hover:not(.active)
{
    color: orangered;
    border: 2px solid orangered;
    border-radius: 5px;
}

.menu a:hover:not(.active)
{
    color: whitesmoke;
}

.dropdown
{
    display: none;
}

.main
{
    background-image: url('images/bus.jpg');
    background-size: cover;
    background-position: center;
    height: 85vh;
}

.main-content
{
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

.main-content h1
{
    color: white;
    font-size: 3em;
    margin: 0 0 50px 0;
}

.main-content p
{
    color: white;
    font-size: 1.25em;
    margin: 0 0 20px 0;
}

.booking-form
{
    width: 100%;
    margin: 0 0 50px 0;
}


.booking-form select, .booking-form input
{
    width: 180px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 1.1em;
    display: block;
    padding: 10px;
    margin: 0 5px;
    outline: none;
    border: 2px solid orangered;
}

.booking-form select option:first-child
{
    color: orangered;
    border-bottom: 2px solid orangered;
}

.booking-form select option
{
    background-color: black;
    font-size: 1em;
    cursor: pointer;
}

.booking-form button
{
    width: 180px;
    padding: 10px 0;
    margin: 0 0 0 5px;
    font-size: 1.1em;
    background-color: orangered;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid orangered;
    cursor: pointer;
}

/*Header Section Ends Here*/

/*Responsive CSS Starts Here*/
@media only screen and (max-width: 1025px) {

    .row
    {
        padding: 10px 50px;
    }

    .booking-form select
    {
        margin-top: 10px;
    }

    .booking-form button
    {
        margin: 10px 0 0 0;
    }

  }

  @media only screen and (max-width: 769px) {
    .row
    {
        padding: 10px;
    }

    nav
    {
        padding: 0 40px;
        justify-content: space-between;
    }

    nav .menu
    {
        display: none;
    }
  
    nav .dropdown
    {
        display: block;
    }
  
    nav .dropdown a
    {
        font-size: 30px;
    } 

    .main-content
    {
        padding: 0 40px;
    }

    .main-content h1
    {
        font-size: 2em;
        margin: 0 0 20px 0;
    }

    .main-content p
    {
        font-size: 1em;
        margin: 0 0 10px 0;
    }

    .booking-form form
    {
        flex-direction: column;
    }

    .booking-form select
    {
        margin: 5px 0;
    } 
}
/*Responsive CSS Ends Here*/