*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Testimonial Section Starts Here*/
.heading{
    padding: 10px;
    text-align: center;
}
body{
    height: 100vh;
}

.main-content{
    display: flex;
    justify-content: space-around;
    padding: 30px;

}
.main-text{
    padding: 28px 0px 0px 50px;
    width: 100%;
    height: 50%;
}
.image{
    padding: 30px 50px 50px 30px;
    display: flex;
    justify-content: space-between;
    
}
.data{
    padding: 10px ;
}
.logo{
    display: flex;
    justify-content: space-evenly;

}
/*Testimonial Section Ends Here*/