@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container
{
    height: 100vh;
    width: 100%;
}

.row
{
    padding: 0 150px;
}

.flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.link
{
    color: whitesmoke;
    text-decoration: none;
}

/*Testimonial Section Starts Here*/
.testimonial
{
    height: inherit;
    justify-content: space-evenly;
}

.testimonial-head h2
{
    font-size: 2.25em;
    font-weight: bold;
}

.testimonial-content
{
    width: 100%;
    flex-wrap: nowrap;
}
.testimonial-content-image
{
    width: 40vw;
}
.testimonial-content-image img
{
    width: 70%;
    height: 100%;
    border-radius: 10px;
}
.testimonial-content-card
{
    width: 60vw;
    flex-direction: row;
    justify-content: start;
    padding: 20px 80px;
}
.testimonial-content-card h3
{
    color: #FFDB58;
    font-size: 4em;
    font-size-adjust: 0 0 0 0 0;
}

.card-user
{
    width: 100%;
    justify-content: start;
    margin: 20px 0 0 0;
}

.card-image
{
    background-color: orangered;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0 20px 0 0;
}

.card-image img{
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.card-content h4
{
    font-size: 1.25em;
    margin: 0 0 10px 0;
}

.card-content h5
{
    font-size: 1em;
    color: #636e72;
}

.testimonial-content-card p
{
    font-size: 1.25em;
    text-align: justify;
}
.testimonial-companies
{
    width: 100%;
    justify-content: space-around;
}

.testimonial-companies img
{
    width: 12vw;
}

/*Testimonial Section Ends Here*/