@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container
{
    height: 100vh;
    width: 100%;
}

.row
{
    padding: 0 150px;
}

.flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.link
{
    color: whitesmoke;
    text-decoration: none;
}

/*Work Section Starts Here*/
.work
{
    height: inherit;
    justify-content: space-evenly;
}

.work-head
{
    text-align: center;
    padding: 0 100px;
}

.work-head h2
{
    font-size: 2.25em;
    font-weight: bold;
}

.work-head p
{
    font-size: 1.25em;
    line-height: 1.2;
    margin: 20px 0;
}

.work-cards
{
    width: 100%;
    justify-content: space-between;
}

.card
{
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.card-image img
{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content
{
    padding: 10px 20px;
}

.card-content h3
{
    font-size: 1.5em;
    margin: 10px 0 0 0;
}

.card-content p
{
    font-size: 1.1em;
    margin: 10px 0;
}

.card-button
{
    margin: 20px 0 10px 0;
}

.card-button button
{
    background-color: orangered;
    color: whitesmoke;
    font-size: 1em;
    display: block;
    border: 2px solid orangered;
    border-radius: 5px;
    padding: 8px 20px;
}

/*Work Section Ends Here*/

/*Responsive Code Starts Here*/
@media only screen and (max-width: 1025px) {
    .row
    {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 769px) {
    
}

@media only screen and (max-width: 481px) {
    
}

@media only screen and (max-width: 320px) {
    
}
/*Responsive Code Ends Here*/