@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container
{
    height: 100vh;
    width: 100%;
}

.row
{
    padding: 50px 150px;
}

.flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.link
{
    color: whitesmoke;
    text-decoration: none;
}

/*About Us Page Starts Here*/
.intro, .leader
{
    min-height: 90vh;
    background-color: #dfe6e9;
    padding-top: 0;
    padding-bottom: 0;
}
.intro-content, .leader-content
{
    min-height: 85vh;
    background-color: whitesmoke;
    padding: 20px 100px;
}
.intro-content h1, .leader-title h1
{
    font-size: 2.25em;
    text-align: center;
    letter-spacing: 2px;
}

.mission
{
    margin-bottom: 30px;
}

.mission p
{
    font-size: 1.25em;
    text-align: center;
    margin: 20px 0 0 0;
}

.about p
{
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.75;
    margin: 20px 0 0 0;
}

/*Leadership Section Starts Here*/
.leader-content
{
    padding-left: 50px;
    padding-right: 50px;
}

.leader-title
{
    margin-bottom: 30px;
}

.cards{
    width: 100%;
    justify-content: space-around;
}
.card{
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 30px 20px;
    border-radius: 10px;   
    text-align: center;  
}

.card-image
{
    background-color: orangered;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: auto;
}

.card-image img{
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.card h2{
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px 0 0 0;
}

.card span{
    color: #636e72;
    font-size: 1.25em;
    margin: 10px 0;
    display: block;
}

.card p{
    font-size: 1.1em;
}

.social-icons
{
    margin: 20px 0 0 0;
}

.social-icons a
{
    margin: 0 10px;
}

.social-icons a img
{
    width: 2vw;
    height: 4vh;
}
/*Leadership Section Ends Here*/

/*About Us Page Ends Here*/